<h1 class="main_heading">All Jobs</h1>

<% @jobs.each do |job| %>
    <h4 class="mid_headings"><%= link_to "#{job.title} at #{job.company.name} in #{job.city} with level of interest: #{job.level_of_interest}", job_path(job) %></h4>
<% end %>
