<h1>All Categories</h1>

<% @categories.each do |category|  %>
  <%= category.title %>
  <%= link_to "Delete", category_path(category), method: :delete %>
  <%= link_to "Edit", edit_category_path(category) %><br/>
<% end %>
<%= link_to "Create new category", new_category_path %>
